<link rel="stylesheet" type="text/css" href="css/main.css">

<div class="content">   
    <h1>Chat</h1>
        <div>
            <a href="/rules">[rules]</a>
            <a href="/image-hosting">[image hosting]</a>
            <a href="/chat">[chat]</a>
            <a href="/radio">[radio]</a>
            <a href="/philosophy">[philosophy]</a>
            <a href="/kek">[kek]</a>
            <a href="/">[home]</a>
        </div>
    <p>Here's some chatting info for you so that you can chat with other chatters.</p>
<div>