<link rel="stylesheet" type="text/css" href="css/main.css">

<div class="content">   
    <h1>Image Hosting</h1>
    <p>Images must be hosted externally, because my database space is extremely limited.
        There are a number of free image hosting services on the web. A few:</p>
    <b><a href="https://www.imgtc.com">imgtc.com</a></b><br>
    <b><a href="https://postimage.io">postimage.io</a></b><br>
    <p>To post an image to the board, upload the image to an image hosting site and paste the link into the 
    "image link" field.</p>
<div>