<link rel="stylesheet" type="text/css" href="css/main.css">
<<<<<<< HEAD
<<<<<<< HEAD
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<body>

<script>
    // SOCKET is an environment variable, make sure to set this correctly in production
    var socket = io.connect(SOCKET);
    socket.on('refresh_board', function() {
        location.reload();
    });
</script>
=======
>>>>>>> parent of b267700... Merge pull request #1 from rug3y/realtime_updates
=======
>>>>>>> parent of b267700... Merge pull request #1 from rug3y/realtime_updates

<table align="center" class="posts">
    <tr>
        <td>
            <h1>804RD3110</h1>
        </td>
    </tr>

    <tr>
        <td class="links">
            <div>
                <a href="/rules">[rules]</a>
                <a href="/image-hosting">[image hosting]</a>
                <a href="/chat">[chat]</a>
                <a href="/radio">[radio]</a>
                <a href="/philosophy">[philosophy]</a>
                <a href="/kek">[kek]</a>
                <a href="/">[home]</a>
            </div>
        </td>
    </tr>

    <% for(var i=0; i<posts.length; i++) {%>
        <tr>
            <td class="post">
                <b><span><%= posts[i].name %>:</span></b>
                <br>
                <% if (posts[i].image !== '') { %>
                    <img src='<%= posts[i].image%>'>
                    <br>
                <% } %>
                <span><%= posts[i].post %></span>
            </td>
        </tr>
    <% } %>
</table>


<div class="form">
    <form action="/posts" method="POST" id="postForm">
        <input type="text" placeholder="name" name="name">
        <br>
        <input type="text" placeholder="image link" name="image">
        <br>
        <textarea rows="10" cols="50" name="post" form="postForm" placeholder="Text"></textarea>
        <br>
        <button id="submit" type="submit">Submit</button>
    </form>
</div>