<link rel="stylesheet" type="text/css" href="css/main.css">

<div class="content">   
    <h1>Radio</h1>
        <div>
            <a href="/rules">[rules]</a>
            <a href="/image-hosting">[image hosting]</a>
            <a href="/chat">[chat]</a>
            <a href="/radio">[radio]</a>
            <a href="/philosophy">[philosophy]</a>
            <a href="/kek">[kek]</a>
            <a href="/">[home]</a>
        </div>
    <p>I want to stream some sounds, straight from my pc to your earballs.</p>
<div>