<link rel="stylesheet" type="text/css" href="css/main.css">

<div class="content">   
    <h1>Rules</h1>
    <p>- No porn</p>
    <p>- No child porn</p>
    <p>- Objects in motion tend to stay in motion</p>
    <p>- Never talk about Fight Club</p>
<div>